    <footer class="footer">
        <span>版權所有 © 2026 Smarty Elderly. 保留所有權利</span>
        <button class="glass-button" id="privacyBtn" aria-label="隱私權政策">
            <i data-lucide="lock"></i> 隱私權政策
        </button>
    </footer>

{%comment%}
    <div class="bottom-nav-bar" id="bottomNavBar">
        <div class="bottom-nav-container">
            <button class="bottom-nav-item" data-page="learns"><i data-lucide="book-open"></i><span>說明書</span></button>
            <button class="bottom-nav-item" data-page="tools"><i data-lucide="star"></i><span>工具箱</span></button>
            <button class="bottom-nav-item" data-page="emgs"><i data-lucide="life-buoy"></i><span>應急</span></button>
            <button class="bottom-nav-item" data-page="courses"><i data-lucide="compass"></i><span>課程</span></button>
            <button class="bottom-nav-item" data-page="subcribes"><i data-lucide="mail"></i><span>訂閱</span></button>
            <button class="bottom-nav-item" data-page="index"><i data-lucide="home"></i><span>主頁</span></button>
        </div>
    </div>
{%endcomment%}